.canvas {}

.result {


  font-size: 50px
}

.result2 {


  font-size: 1.6em;
}

.xyz {
  background-size: auto;
  text-align: center;
}

.btn-circle.btn-xl {
  width: 60px;
  height: 60px;
  padding: 10px 13px;
  border-radius: 100px;
  font-size: 12px;
  text-align: center;
  border-color: #eeeef6;
  background-color: white;
  border-width: 1px;
  margin-right: 7px;
}

.t2 {
  border-collapse: separate;
  border-spacing: -2px;
}

.iz {
  text-align: right;
}

.iz2 {
  width: 150px;
}

td,
th {
  padding: 5px;

  font-weight: 300;
}

.abs {
  width: 50%;
}

.abs1 {
  margin-top: -3px;
  position: absolute;
  left: 217px;
}