<ion-content>
  <app-inicio></app-inicio>

  <body>
    <div class="navbar">
      <a routerLink="/nuevotab">
        <i style="font-size: 35px; color: #90d26d; margin-left: 48px" class="fa-solid fa-house"></i></a>
      <a routerLink="/analisis">
        <img class="rotate" [ngStyle]="{ height: '50px' }" src="../assets/img/pie-chart.png" />
      </a>
      <a routerLink="/alwa2"><i style="font-size: 35px; color: #cbcbcb; margin-right: 48px"
          class="fas fa-info-circle"></i></a>
    </div>
  </body>
</ion-content>