<div class="slide-full colort">
  <div class="row">
    <div class="col-12">
      <ion-icon routerLink="/" class="btn float-right" name="close">
      </ion-icon>
    </div>
  </div>
  <ion-slides class="colort">
    <ion-slide>
      <h2>Dale un Nuevo Rumbo
        <div style="white-space: pre-line"></div>
        a tus Desechos
      </h2>
      <div class="slide">
        <div class="row justify-content-center">
          <img class="imagent" src="../assets/img/reciclaje2.png" />
        </div>
        <p class="textt">
          Ayuda a compensar tu huella de carbono separando tus desechos según su
          tipo de material
        </p>
      </div>
    </ion-slide>
    <ion-slide>
      <h2>¡Realízalo Ahora!</h2>
      <div class="slide">
        <div class="row justify-content-center">
          <img class="imagent" src="../assets/img/recicla.png" />
        </div>
        <p class="textt">
          No te olvides de limpiar los envases de plástico y de vidrio, antes de
          reciclarlos.
        </p>
        <button routerLink="/" class="button1">
          ¡HECHO!
        </button>
      </div>
    </ion-slide>
  </ion-slides>
</div>