<div class="slide-full colort">
  <div class="row">
    <div class="col-12">
      <ion-icon routerLink="/" class="btn float-right" name="close">
      </ion-icon>
    </div>
  </div>
  <ion-slides class="colort">
    <ion-slide>
      <h2> Desenchufa lo

        que <div style="white-space: pre-line"></div> no usas
      </h2>
      <div class="slide">
        <div class="row justify-content-center">
          <img class="imagent" src="../assets/img/enchufes.png" />
        </div>
        <p class="textt">
          Los electrodomésticos apagados pero no desenchufados, siguen
          consumiendo energía eléctrica.
        </p>
      </div>
    </ion-slide>
    <ion-slide>
      <h2>¡Súmate a la misión!</h2>
      <div class="slide">
        <div class="row justify-content-center">
          <img class="imagent" src="../assets/img/desenchufado.png" />
        </div>
        <p class="textt">
          Al hacerlo estarás disminuyendo tu consumo eléctrico de tu Huella de
          Carbono.
        </p>
        <button routerLink="/" class="button1">
          ¡HECHO!
        </button>
      </div>
    </ion-slide>
  </ion-slides>
</div>