.fa-info-circle {
  color: rgb(8, 142, 175);
}

.text-muted {
  color: #0066d3 !important;
  margin-top: 10px;
  margin-left: 10px;
}



.form-check-inline2 {
  display: inline-block;
  margin-right: 10px !important;
}
