<ion-content>
  <div class="container col-md-6 ps-4 pe-4 mt-2">
    <form id="energiaForm" (ngSubmit)="irSiguiente(energiaForm)" #energiaForm="ngForm">
      <div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h4>Indique su consumo mensual de:</h4>
            </div>
          </div>
          <div class="form-group ">
            <label for="agua" class="col-form-label col-form-label-sm">Electricidad:</label>
            <div class="row align-items-center">
              <div class="col-6">
                <input type="number"
                  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                  class="form-control form-control-sm" id="valorConsumoEE" name="valorConsumoEE"
                  [(ngModel)]="energia.valorConsumoEE" #valorConsumoEE="ngModel" min="0"
                  pattern="^[0-9]+(.[0-9]{1,2})?$" maxlength="6" [ngClass]="{
                    'is-invalid':
                      energiaForm.submitted && valorConsumoEE.invalid
                  }" required />
              </div>


              <div class="col-6">
                <div class="form-group">

                  <div class="form-check form-check-inline2">
                    <input type="radio" id="cr1" name="tipoConsumoEE" class="form-check-input" value="soles"
                      [(ngModel)]="energia.tipoConsumoEE" #tipoConsumoEE="ngModel" required [ngClass]="{
                          'is-invalid':
                            energiaForm.submitted && tipoConsumoEE.invalid
                        }" />
                    <label class=" form-check-label" for="cr1">PEN</label>
                  </div>
                  <div class="form-check form-check-inline2">
                    <input class="form-check-input" type="radio" id="cr2" name="tipoConsumoEE" value="kwh"
                      [(ngModel)]="energia.tipoConsumoEE" #tipoConsumoEE="ngModel" required [ngClass]="{
                      'is-invalid':
                        energiaForm.submitted && tipoConsumoEE.invalid
                    }" />
                    <label class="form-check-label" for="cr2">KWh</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="agua" class="col-form-label col-form-label-sm">Agua potable:</label>
            <div class="row align-items-center">
              <div class="col">
                <input type="number"
                  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                  class="form-control form-control-sm" id="valorConsumoAgua" name="valorConsumoAgua"
                  [(ngModel)]="energia.valorConsumoAgua" #valorConsumoAgua="ngModel" min="0"
                  pattern="^[0-9]+(.[0-9]{1,2})?$" maxlength="6" [ngClass]="{
                    'is-invalid':
                      energiaForm.submitted && valorConsumoAgua.invalid
                  }" required />
              </div>

              <div class="col-6">
                <div class="form-group">

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" value="soles" type="radio" id="cr5" name="tipoConsumoAgua"
                      value="soles" [(ngModel)]="energia.tipoConsumoAgua" #tipoConsumoAgua="ngModel" required [ngClass]="{
                        'is-invalid':
                          energiaForm.submitted && tipoConsumoAgua.invalid
                      }" />
                    <label class=" form-check-label" for="cr5">PEN</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="cr6" name="tipoConsumoAgua" value="m3"
                      [(ngModel)]="energia.tipoConsumoAgua" #tipoConsumoAgua="ngModel" required [ngClass]="{
                    'is-invalid':
                      energiaForm.submitted && tipoConsumoAgua.invalid
                  }" />

                    <label class="form-check-label" for="cr6">m<sup>3</sup></label>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <label for="electricidad" class="col-form-label col-form-label-sm">Balones de gas (GLP):</label>
          <div class="row align-items-center">
            <div class="col">
              <input type="number"
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                class="form-control form-control-sm" id="glp" name="glp" [(ngModel)]="energia.glp" #glp="ngModel"
                min="0" pattern="^[0-9]+(.[0-9]{1,2})?$" maxlength="6" [ngClass]="{
                  'is-invalid': energiaForm.submitted && glp.invalid
                }" />
            </div>
            <div class="col">
              <label>balones/mes</label>
            </div>
          </div>
          <label for="electricidad" class="col-form-label col-form-label-sm">Gas natural:</label>
          <div class="row">
            <div class="col">
              <input type="number"
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                class="form-control form-control-sm" id="valorConsumoGN" name="valorConsumoGN"
                pattern="^[0-9]+(.[0-9]{1,2})?$" [(ngModel)]="energia.valorConsumoGN" #valorConsumoGN="ngModel" min="0"
                maxlength="6" [ngClass]="{
                  'is-invalid': energiaForm.submitted && valorConsumoGN.invalid
                }" />
            </div>
            <div class="col-6">
              <div class="form-group">

                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" id="cr3" name="tipoConsumoGN" value="soles"
                    [(ngModel)]="energia.tipoConsumoGN" #tipoConsumoGN="ngModel" [ngClass]="{
                    'is-invalid':
                      energiaForm.submitted && tipoConsumoGN.invalid
                  }" />
                  <label class=" form-check-label" for="cr3">PEN</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" id="cr4" name="tipoConsumoGN" value="m3"
                    [(ngModel)]="energia.tipoConsumoGN" #tipoConsumoGN="ngModel" [ngClass]="{
                    'is-invalid':
                      energiaForm.submitted && tipoConsumoGN.invalid
                  }" />

                  <label class="form-check-label" for="cr4">m<sup>3</sup></label>
                </div>
              </div>
            </div>

          </div>
          <label for="carbon" class="col-form-label col-form-label-sm">Consumo promedio de carbón:</label>
          <div class="form-group">
            <div class="row align-items-center">
              <div class="col">
                <div class="form-inline">
                  <input type="number"
                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                    class="form-control form-control-sm" id="carbon" name="carbon" pattern="^[0-9]+(.[0-9]{1,2})?$"
                    [(ngModel)]="energia.carbon" #carbon="ngModel" min="0" maxlength="6" [ngClass]="{
                      'is-invalid': energiaForm.submitted && carbon.invalid
                    }" />
                </div>
              </div>

              <div class="col">
                <label>kg/mes</label>
              </div>
            </div>
          </div>

          <small class="form-text text-muted" style="color: #0066d3"><i class="fas fa-info-circle"
              style="color: #0066d3"></i> PEN:
            Soles</small>

          <hr />
          <app-alert></app-alert>
        </div>
        <br /><br />
        <br />
      </div>
      <div class="card nuevo">
        <div class="card-body">
          <div class="bot1">
            <button type="button" class="c1" (click)="irAnterior()">
              Anterior
            </button>
            <button type="submit" class="c2">Siguiente</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</ion-content>
