<div class="slide-full colort">
  <div class="row">
    <div class="col-12">
      <ion-icon routerLink="/" class="btn float-right" name="close">
      </ion-icon>
    </div>
  </div>
  <ion-slides class="colort">
    <ion-slide>
      <h2>Siembra un Árbol</h2>
      <div class="slide">
        <div class="row justify-content-center">
          <img class="imagent" src="../assets/img/sembrar.png" />
        </div>
        <p class="textt">
          La plantación de árboles autóctonos es esencial para preservar los
          bosques del Perú, reducir nuestra Huella de Carbono y así luchar
          contra el Cambio Climático.
        </p>
      </div>
    </ion-slide>
    <ion-slide>
      <h2>¡Realízalo Ahora!</h2>
      <div class="slide">
        <div class="row justify-content-center">
          <img class="imagent" src="../assets/img/arbolp.png" />
        </div>
        <p class="textt">
          Este sería tu primer paso para compensar tu Huella de Carbono.
        </p>
        <button routerLink="/" class="button1">
          ¡HECHO!
        </button>
      </div>
    </ion-slide>
  </ion-slides>
</div>